html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
  }

.tilefall {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}

.tilefall .tile {
    flex-grow: 1;
    flex-shrink: 0; 
    flex-basis: 300px;
    margin: 0;
    max-width: 640px;
}

.tile img {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .tilefall .tile {
        max-width: 480px;
  }
}

@media screen and (min-width: 960px) {
    .tilefall .tile {
        max-width: 320px;
    }
}
